.node.banner {
  position: sticky;
  top: calc(0rem - var(--banner-hei) - var(--paper-gut));

  display: flex;
  flex: none;
  flex-direction: column;

  align-items: center;
}
.node.banner > * {
  width: min(calc(100vw - var(--paper-mar) * 2), var(--paper-wid));
}

.node.banner > .banner-content {
  z-index: 10;

  display: flex;
  flex: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: var(--banner-hei);
  padding: 3rem calc(1.25rem - var(--paper-mar)) 0rem;

  text-align: center;
  overflow: visible;
  opacity: var(--banner-vis);
}

.node.banner > .banner-content > * {
  z-index: 10;
}

.node.banner > .banner-actions {
  position: relative;

  display: flex;
  flex: none;
  flex-direction: row;
  grid-gap: 0.5rem;

  padding: 1rem calc(1rem - var(--paper-mar)) 0rem;
}

.node.banner > .banner-actions::before {
  z-index: 8;
  content: '';

  position: absolute;
  inset: calc(-10rem + 5rem - var(--paper-gut)) calc(-10rem - var(--paper-mar)) 0rem;

  height: 2rem;

  border: 10rem solid #f6f6f7;
  border-radius: calc(10rem + 1rem) calc(10rem + 1rem) 0rem 0rem;
  border-bottom: none;
  pointer-events: none;
}

.node.banner > .banner-actions > * {
  z-index: 10;

  display: flex;
  flex: none;
  flex-direction: row;
  grid-gap: 1rem;

  height: 3rem;
  padding: 0rem 0rem;

  overflow: visible;
  align-items: center;
}
.node.banner > .banner-actions > *:nth-child(2) {
  opacity: calc(1 - var(--banner-vis));
}
